<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/55711eed63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Web Speech AI chatbot</title>
  </head>
  <body>
    <section>
      <button class="chat-btn">
        <i class="far fa-comment-dots"></i>
      </button>

      <div class="chat-popup">
        <div class="chat-area">
          <div class="incoming-msg">
            <img src="img/bot.jpg" class="avatar" alt="">
            <span class="bot-msg">Hi, How can I help you?</span>
          </div>
        </div>
        <div class="input-area">
          <input type="text">
          <button class="submit send"><i class="far fa-paper-plane"></i></button>
          <button class="submit mic"><i class="fas fa-microphone"></i></button>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>


